# Workspace status command
build --workspace_status_command=script/workspace_status.sh

# Default build
build --cxxopt=-std=c++17

# Ignore env vars from shell. Avoids rebuilding when env vars change.
build --incompatible_strict_action_env

# Build with ccache
build --disk_cache=~/.cache/dlinear_bazel

# Debug build
build:debug --disk_cache=~/.cache/dlinear_bazel_debug
build:debug --cxxopt=-O0
build:debug --cxxopt=-p
build:debug --cxxopt=-ggdb3
build:debug --compilation_mode=dbg

# Optimized build
build:opt --cxxopt=-O3
build:opt --cxxopt=-DNDEBUG
build:opt --cxxopt=-DNLOG

# Building python bindings
build:pydlinear --disk_cache=~/.cache/dlinear_bazel_pybind
build:pydlinear --//tools:enable_dynamic_build=True
