#!/usr/bin/make -f
DEB_VERSION = $(shell dpkg-parsechangelog --show-field Version)
TMP_DIR = debian/tmp
BAZEL_OUT_DIR = bazel-bin/package

clean:
	rm -f $(BAZEL_OUT_DIR)/dlinear_${DEB_VERSION}_amd64.changes
	rm -f $(BAZEL_OUT_DIR)/dlinear_${DEB_VERSION}_amd64.deb
	rm -rf $(TMP_DIR)

build: build-arch

binary: binary-arch 

build-arch:
	./bazel --output_base=bazel_out build --enable_fpic_build //dlinear

binary-arch:
	rm -rf $(TMP_DIR)
	mkdir -p $(TMP_DIR)/DEBIAN
	dpkg-gencontrol -pdlinear
	./bazel --output_base=bazel_out build --enable_fpic_build //package:debian
	dpkg-deb -xv $(BAZEL_OUT_DIR)/dlinear_${DEB_VERSION}_amd64.deb $(TMP_DIR)
	cp --no-preserve=all $(BAZEL_OUT_DIR)/dlinear_${DEB_VERSION}_amd64.changes ..
	cp --no-preserve=all $(BAZEL_OUT_DIR)/dlinear_${DEB_VERSION}_amd64.deb ..

binary-indep:
	echo "Nothing to do"
