#!/usr/bin/make -f
DEB_VERSION = $(shell dpkg-parsechangelog --show-field Version)

clean:
	rm -f uneededfile

build: build-arch

binary: binary-arch 
	
build-arch:
	wget https://github.com/bazelbuild/bazelisk/releases/download/v1.20.0/bazelisk-linux-amd64 -O bazel
	chmod +x bazel
	./bazel build --enable_fpic_build //dlinear

binary-arch:
	rm -rf debian/tmp
	./bazel build --enable_fpic_build //:package_deb
	cp dlinear_${DEB_VERSION}_amd64.changes ..
	cp dlinear_${DEB_VERSION}_amd64.deb ..
