#!/usr/bin/make -f
DEB_VERSION = $(shell dpkg-parsechangelog --show-field Version)
TMP_DIR = debian/tmp

clean:
	rm -rf $(TMP_DIR)

build: build-arch build-indep

binary: binary-arch

build-arch: build-stamp
build-indep: build-stamp

build-stamp:
	echo "Nothing to do"

binary-arch:
	mkdir -p $(TMP_DIR)/DEBIAN
	mkdir -p $(TMP_DIR)
	tar -xzf package.tar.gz -C $(TMP_DIR)
	dpkg-gencontrol -pdlinear
	dpkg-deb --build debian/tmp ../dlinear_$(DEB_VERSION)_$(DEB_TARGET_ARCH).deb

binary-indep:
	echo "Nothing to do"
